@import "../../scss/variables";
.add {
          button {
            display: flex;
            gap: 5px;
            align-items: center;
            border: 1px solid $red;
            border-radius: 10px;
            color: $red;
            padding: 10px;

            .plus {
              display: flex;
              align-items: center;

              svg {
                path {
                  fill: $red;
                }
              }
            }
          }
}
