@import "../../scss/variables";

.buttonBack {
            display: flex;
            gap: 5px;
            align-items: center;
            border: 1px solid $red;
            border-radius: 10px;
            color: $red;
            padding: 10px;
            max-width: 50px;
          }

.container {
}
.container_sub{
  
}
.imgUrl{

}
.title{

}
.price{

}
.desc{
  
}